<div class="center jumbotron">
  <p><h1 id="hello">Welcome to About Page</h1></p><br/><br/>
  
  <p><b> This is the Alpha Blog App.</p>
  <p><b> Specifically we developed this app by referencing the udemy videos. Here you can perform different operations on Atricles. You can add a new artticle, edit the existing article and update it, view the list of the articles, delete the articles and many more. </p>
  <p><b> we are working on this app still. Hope you will enjoy here. </p>
  <p><b> Thank you.. </b></p>
  
</div>