<div class="center jumbotron">
  <p><h1 id="hello">Welcome to Contact Page</h1></p><br/><br/>
  <p> <h3>Address :</h3> <br/>
        2, Aryan Park complex, <br/>
        Nr. Shilaj Railway Crossing, <br/>
        Thaltej - 380054.<br/>
        Contact No: +91-79-67128700/500, +91-79-26882222<br/>
        Ahmedabad
  </p>
</div>