<div class="center jumbotron">
  <p><h1 id="hello">Welcome to Contact Page</h1></p><br/><br/>
  <p> <h3>Address :</h3> <br/>
        Satyajeet, <br/>
        Alpha Blog, <br/>
        Ruby on Rails.<br/>
        Contact No: +91-99999 99999, +91-88888 88888<br/>
        India
  </p>
</div>