
<%# <%= link_to 'Alpha Blog', articles_path | <%= link_to 'About', about_path %> 

<div class="center jumbotron">
  <p><h1 id="hello">Hello, Welcome to Alpha Blog!</h1></p><br/><br/>
  <p> Hey ! this is Satyajeet here.. </p>
  <%# <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> %>
  
  <p><%= link_to "Sign Up now", signup_path, class:"btn btn-primary btn-lg" %></p>
  <%# <p><%= link_to "Edit your Accout", users_@user.id_path %>
</div>