
<%# <%= link_to 'Alpha Blog', articles_path | <%= link_to 'About', about_path %> 

<div class="center jumbotron">
  <p><h1>Hello, Welcome to Alpha Blog!</h1></p>
  <p> Hey ! this is Satyajeet here.. </p>
  <%# <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> %>
  <p><%= link_to "Sign Up now", "#", class:"btn btn-primary btn-lg" %></p>
</div>