$navbar-default-bg: rgb(1, 64, 100);

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #EEE2DC;
    font-weight: bold;
}

#article, #about_us, #actions, #link, #dropdown, #home, #contact_us, #einfochips, #ruby, #rails{
    float: left;
    color: #EEE2DC;
    font-weight: bold;
}

#logo:hover {
    color: #EEE2DC;
}

.center {
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    // background-image: linear-gradient(#EDC7B7, #EEE2DC, #BAB2B5)
    background-image: asset-url('img1.jpg');
    background-size: cover;
    font-weight: bold;
    height : 600px;
}

.articles, .new {
    background-image: asset-url('img1.jpg');
    background-size: cover;
    height : 600px;
    text-align: center;
    padding-top: 5px;
}

#hello, #listing, #create, #index{
    color: #9A1750;
    font-weight: bold;
}

.edit-exist {
    text-align: center;
    color: #9A1750;
    font-weight: bold;
}

.btn-lg {
    background-color: #9A1750;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;  
    padding-top: 5px;
}
    
.description {  
    margin-top: 0;  
}

.article-title {
    font-weight: bold;
    font-size: 1.5em; 
    } 
.article-body { 
    border-top: 1px solid #eaeaea; 
    padding-top: 15px; 
    padding-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;   
}

.footer {
    background-color: rgb(1, 64, 100);
    font-weight: bold;
    color: #EEE2DC;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}