$navbar-default-bg: #123C69;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #EEE2DC;
    font-weight: bold;
}

#article, #about_us, #actions, #link, #dropdown{
    float: left;
    color: #EEE2DC;
    font-weight: bold;
}

#logo:hover {
    color: #EEE2DC;
}

.center {
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    // background-image: linear-gradient(#EDC7B7, #EEE2DC, #BAB2B5)
    background-image: url('img1.jpg');
    background-size: cover;
    height : 600px;
}

#hello {
    color: #0B0C10;
}

